button {
  cursor: pointer;
}

body {
  color: #123026;
  margin: 0;
  font-family: "Alice", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

.formcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 3rem auto;
  position: relative;
  /* top: 50vh; */
  /* transform: translateY(-50%); */
}

.signupForm label{
  display: flex;
  font-size: 1rem;
  font-weight: 590;
  margin-bottom: 0.7rem;
  margin-left: 0.1rem;
  margin-right: 0.15rem;
  justify-content: space-between;
  color: #123026;
}

.form-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.7rem;
}

.form-bottom a{
  margin-left: 0.1rem;
  color: rgb(62, 62, 237);
}

.formInputDiv{
  margin-bottom: 1.2rem;
}

.formInputDiv label a{
  font-size: 0.8rem;
  color: rgb(62, 62, 237);
  line-height: 1.25rem;
}

.signupForm input{
  display: inline-block;
  width: 100%;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  padding: 8px 8px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 0.5px solid #afafaf;
}

.signupForm input[type="submit"]{
  background-color: #123026;
  color: white;
  margin-top: 0.5rem;
  cursor: pointer;
}

.signupHeading{
  font-size: 2rem;
  text-align: center;
  margin: 0 ;
  color: #123026;
  width: 100%;
}


.formDiv{
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.discount-tab{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #123026;
  color: white;
  padding: 0.6rem 0;
}

.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 4rem;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #123026;
}

.logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container p{
  margin: 0;
  padding: 0;
}

.nav-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 4rem;
}

.nav-left img{
  width: 9rem;
}

.nav-left ul{
  margin: 0;
  padding: 0;
  padding-top: 0.4rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
}


.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.nav-right p{
  padding-top: 0.45rem;
}

.nav-right img{
  cursor: pointer;
  height: 2.5rem;
}

.homepageinnercontainer{
  width: 100%;
  background: rgba(18, 48, 38,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}

.homePageContainer img{
  height: 25rem;
}

.homePageHeading{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  width: 70%;
}

.homePageHeading h1{
  margin: 0;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.homePageHeading h2{
  margin: 0; 
  margin-bottom: 0.2rem;
}

.homePageHeading p{
  margin: auto;
  width: 60%;
  margin: 0;
  margin-bottom: 2.5rem;
}

.homePageHeading button {
  /* margin-top: 0.8rem; */
  padding: 10px 20px;
}

.homePageHeading button a{
  
  display: flex; 
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

.homePageHeading button img{
  height: 1.5rem;
}

.sliderOuterContainer{
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  gap: 1rem;
}

.sliderinnerdiv{
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}

.sliderinnerdiv img{
  width: 100%;
  height: 18rem;
}

.sliderinnerdiv a{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}

.cardslider-description{
  padding: 2rem;
  background-color: #f2f2f2;
  color: #123026;
}

.cardslider-description h2{
  font-size: 1.5rem;
}

.cardslider-description p{
  font-size: 1.1rem;
}


.errorField{
  margin: 0;
  padding-left: 0.1rem;
}

.errorField ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.errorField ul li{
  color: red;
  font-size: 0.8rem;
}

.errorField span{
  margin: 0;
  padding: 0;
  color: red;
  font-size: 0.8rem;
}


.footerContainer{
  display: flex;
  flex-direction: column;
}

.homePageHeading2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem 0;
  width: 60%;
  margin: auto;
  gap: 0.5rem;
}

.homePageHeading2 h1{
  font-size: 2.7rem;
  margin: 0;
}

.homePageHeading2 p{
  font-size: 1.6rem;
  margin: 0;
}

.homePageHeading3{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem 0;
  width: 40%;
  margin: auto;
  font-size: 1.5rem;
}

.reviewContainer{
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.reviewDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5rem;
  width: 60%;
}

.reviewDescription h1{
  margin: 0;
  font-size: 3rem;
}

.reviewDescription p{
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0;
}

.reviewImage img{
  width: 100%;
}

.categoriesContainer{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4,1fr);
  column-gap: 1rem;
  padding: 0 8rem;
}

.categoriesContainer img{
  width: 100%;
  height: 19rem;
}

.linkContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.linkContainer h3{
  font-size: 1rem;
}

.linkContainer img{
  width: 1.5rem;
  height: 1.5rem;
}

.footerContainer{
  box-sizing: border-box;
  padding: 3rem 5rem;
  background-color: #123026;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.footer-list-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerLogo{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footerLogo img{
  width: 10rem;
}

.footerLogo h3{
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.footerProducts{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerProducts h2{
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 2rem;
}

.footerProducts ul{
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  text-align: left;
  margin: 0;
  margin-top: 2rem;
  font-size: 1.1rem;
  gap: 1.5rem;
}

.footerProducts ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
}

.footerProducts ul li img{
  width: 2rem;
}

.footer-allrights{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.footer-allrights h3{
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0.2rem 0;
}
.footer-allrights h2{
  
  font-size: 1rem;
  font-weight: normal;
  margin: 0.2rem 0;
}

.homePageHeading4{
  margin: 5rem 8rem;
}

.homePageHeading4 h1{
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.sustainable-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0 8rem;
  width: 100%;
}

.sustainable-img{
  width: 55%;
}

.sustainable-img img{
  height: 35rem;
  width: 100%;
}

.sustainable-heading{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
}

.sustainable-heading h1{
  margin: 0;
  font-size: 3.4rem;
  font-weight: 600;
}

.dn{
  display: none;
}

.signup-list{
  display: flex;
  background-color: white;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  right: 4rem;
  border-radius: 0.5rem;
  border: 1px solid #123026;
}

.signup-list p{
  padding: 8px 16px;
  margin: 0;
  width: 9rem;
  border-bottom: 1px solid #123026;
}

.productsContainer{
  margin-top: 2rem;
  padding:  1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.productsGrid{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  column-gap: 3.5rem;
  row-gap: 4rem;
  margin: 0 2rem;
  width: auto;
}

.productCard{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: max-content; */
}

.productCard img{
  max-width: 18rem;
  height: 16rem;
}

.productImageContainer{
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid rgb(130, 130, 130);
  display: flex;
  align-items: center;
  justify-content: center;
}

.productDescriptionContainer{
  margin-top: 1rem;
}

.productDescriptionContainer h3{
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1rem;
}

.productDescriptionContainer h1{
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
}

.productCard button{
  padding: 0.8rem 2rem;
  color: white;
  background-color: #123026;
  border-radius: 3rem;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
  width: 100%;
  margin-top: 0.6rem;
  margin-top: auto;
}

.filters{
  display: flex;
  flex-direction: column;
  width: 35%;
  border-right: 1px solid #123026;
  border-top: 1px solid #123026;
}

.filter-innerdiv{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-top: 1px solid #123026;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.filters h1{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  padding-left: 0.7rem;
}

.filter-innerdiv img{
  height: 1rem;
}

.cartOuterContainer{
  margin: 2.2rem auto;
  width: 80%;
}

.cartHeading{
  margin-bottom: 1rem;
}

.cartHeading h1{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.cartHeading h3{
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.CartContainer{
  display: flex;
  justify-content: space-between;
}

.CartList{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.CartListElem{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #afafaf;
}

.cartlistimageconatainer{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CartListElem img{
  width: 100%;
  height: 10rem;
}

.CartListContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CL-Description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.8rem;
}

.CL-Description h1{
  font-size: 1.3rem;
  font-weight: 600;
}

.CL-Remove{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.CL-Remove a{
  cursor: pointer;
}

.CL-quantity{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.CL-quantity p{
  margin: 0;
}

.CL-quantity select{
  height: 2rem;
  border: none;
  outline: none;
  padding-top: 0.2rem;
}

.CheckoutInfo{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 25%;
  background-color: rgb(243, 241, 241);
  padding: 2rem;
  border-radius: 10px;
  height: fit-content;
}

.checkoutHeadings{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutHeadings h3{
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.CheckoutInfo p{
  margin: 0;
  font-size: 0.8rem;
}

.CheckoutInfo button{
  margin: 0 auto;
  margin-top: 0.7rem;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  color: white;
  background-color: #123026;
}

.LoginError{
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  padding-left: 0.2rem;
}

.CheckoutInfo a{
  margin: auto;
  font-size: 0.8rem;
}

.checkoutContainer{
  display: flex;
  flex-direction: column;
  margin: 3rem 8rem;
}

.checkoutFormContainer
{
  display: flex;
  flex-direction: row;
}

.checkoutForm{
  width: 35%;
}

.checkoutForm label{
  display: flex;
  font-size: 1rem;
  font-weight: 590;
  margin-bottom: 0.7rem;
  margin-left: 0.1rem;
  margin-right: 0.15rem;
  flex-direction: column;
  color: #123026;
}

.checkoutForm input{
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  padding: 8px 8px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 0.5px solid #afafaf;
}

.checkoutForm input[type="submit"] {
  background-color: #123026;
  color: white;
  margin-top: 0.5rem;
  cursor: pointer;
}

.localAddress{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.localAddressInput{
  display: flex;
  flex-direction: column;
}

.checkoutFormHeading{
  margin-bottom: 2rem ;
}

.checkoutFormHeading h1{
  margin: 0;
}

.checkoutFormHeading p{
  margin: 0;
  margin-top: 0.3rem;
}

.maptesting{
  border: 1px solid black;
  width: 100%;
}