body {
  color: #123026;
  margin: 0;
  font-family: "Alice", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

.formcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30%;
  margin: 1rem auto;
  position: relative;
  /* top: 50vh; */
  /* transform: translateY(-50%); */
}

.signupForm label{
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  margin-left: 0.1rem;
  margin-right: 0.15rem;
  justify-content: space-between;
}

.formInputDiv{
  margin-bottom: 1.2rem;
}

.signupForm input{
  display: inline-block;
  width: 100%;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  padding: 8px 8px;
  box-sizing: border-box;
}

.signupForm input[type="submit"]{
  margin-top: 0.5rem;
}

.signupHeading{
  font-size: 2rem;
  text-align: center;
  margin: 0 ;
  /* margin-bottom: 1.5rem; */
  background-color: #32CD32;
  color: white;
  padding: 1rem 0;
  width: 100%;
}

.formDiv{
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.discount-tab{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #123026;
  color: white;
  padding: 0.6rem 0;
}

.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 4rem;
  text-align: center;
  align-items: center;
}

.logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container p{
  margin: 0;
  padding: 0;
}

.nav-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 4rem;
}

.nav-left img{
  width: 9rem;
}

.nav-left ul{
  margin: 0;
  padding: 0;
  padding-top: 0.4rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
}


.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.nav-right p{
  padding-top: 0.45rem;
}

.nav-right img{
  height: 2.5rem;
}

.homepageinnercontainer{
  width: 100%;
  background: rgba(18, 48, 38,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}

.homePageContainer img{
  height: 25rem;
}

.homePageHeading{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  width: 70%;
}

.homePageHeading h1{
  margin: 0;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.homePageHeading h2{
  margin: 0; 
  margin-bottom: 0.2rem;
}

.homePageHeading p{
  margin: auto;
  width: 60%;
  margin: 0;
  margin-bottom: 2.5rem;
}

.homePageHeading button {
  /* margin-top: 0.8rem; */
  padding: 10px 20px;
}

.homePageHeading button a{
  
  display: flex; 
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

.homePageHeading button img{
  height: 1.5rem;
}

.sliderOuterContainer{
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  gap: 5rem;
  overflow-x: auto;
  border: 1px solid black;
}

.sliderinnerdiv{
  display: flex;
  flex-direction: column;
  width: 24rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.sliderinnerdiv img{
  width: 100%;
}

.pricingContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pricingContainer button{
  padding: 8px 16px;
  background-color: white;
}

.ratings{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
}

.ratingsoutercontainer{
  height: 0.8rem;
  width: 8rem;
  border: 1px solid black;
  border-radius: 20px;
}

.ratingsinnercontainer
{
  height: 100%;
  background-image: linear-gradient(to right , red , green);
}


.errorField{
  margin: 0;
  padding-left: 0.1rem;
}

.errorField ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.errorField ul li{
  color: red;
  font-size: 0.8rem;
}

.errorField span{
  margin: 0;
  padding: 0;
  color: red;
  font-size: 0.8rem;
}


.footerContainer{
  display: flex;
  flex-direction: column;
}

.homePageHeading2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 0;
  width: 60%;
  margin: auto;
  gap: 0.5rem;
}

.homePageHeading2 h1{
  font-size: 2.7rem;
  margin: 0;
}

.homePageHeading2 p{
  font-size: 1.6rem;
  margin: 0;
}